body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
}
#stats{
    width: 20%;
    height: 100%;
}
#cardArea{
    width: 80%;
    height: 100%;
}
.cardContainer{
    float: left;
    width: 16.6%;
    height: 33.33%;
}
.card{
    height: 90%;
    width: 90%;
    position: relative;
    left: 5%;
    top: 5%;
}
.back, .front{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-size: cover;
    background-position: center;
}